* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: radial-gradient(circle at center, #34619d 0%, #34619d 1%, #1d3b6e 100%);
    font-family: "Arial";
}

.header {
    background-color: #1d3b6e;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}
.flex-around{
    display: flex;
    justify-content: space-around;
}
.flex-direction {
    display: flex;
    flex-direction: row;
}
.align-items {
    display: flex;
    align-items: center;
}
.column {
    display: flex;
    flex-direction: column;
    align-items: end;
}
.wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}

.manager {
    padding: 22px 1px;
}

.text {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    background-color: #acacaa;
    text-decoration: none;
}

.text a {
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
.ul {
    list-style: none;
}
.text li {
    padding: 16px 30px;
}

.phone a {
    padding: 35px 9px;
    text-decoration: none;
}

.phone1 {
    font-size: 16px;
    line-height: 3.1em;
    color: #fff;
}


.text2 {
    color: #fff;
    font-style: italic;
    padding: 10px 1px;
}

h1 {
    width: 687px;
    font-size: 48px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
    padding: 7px 1px;
}

.text1 {
    color: #fff;
    padding: 16px 1px;
    margin-bottom: 25px;
}

.text3 {
    text-transform: uppercase;
    color: #f4d633;
    font-weight: bold;
    font-family: "Arial";
}

.footer {
    background-color: #f4d633;
}

.text5 {
    color: #1e3c6f;
    font-weight: bold;
    font-family: "Arial";
}

.button a {
    display: block;
    border-radius: 35px;
    text-align: center;
    text-transform: uppercase;
    border: 3px solid #f4d633;
    font-size: 18px;
    text-decoration: none;
    color: #f4d633;
    max-width: 540px;
    padding: 25px 2px;
}

.zirka {
    padding: 61px 8px
}

.text4 {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    padding: 61px 8px;
}

.geo {
    padding: 27px 9px;
}

.inst {
    padding: 27px 9px
}

.tg {
    padding: 27px 10px;
}

.since {
    font-size: 12px;
    color: #204075;
    text-align: left;
}