* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1px;

}

body {
    background-image: radial-gradient(circle at center, #34619d 0%, #34619d 1%, #1d3b6e 100%);
    font-family: "Arial";
    cursor: url(../img/cursor.cur), default;

}

.wrapper {
    max-width: 1000rem;
    margin: 0 auto;
    padding: 0 15rem;
}

header {
    width: 100%;
    z-index: 100;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex-around {
    display: flex;
    justify-content: space-around;
}

.flex-direction {
    display: flex;
    flex-direction: row;
}

.align-items {
    display: flex;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.logo__manager {
    padding: 22rem 1rem;
}

.header__text {
    border-radius: 20rem;
    background-color: rgba(172, 172, 170, 0.7);
    backdrop-filter: blur(4px);
    text-decoration: none;
    font-size: 14rem;
}

.header__text a {
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.header__text li {
    list-style: none;
    padding: 16rem 30rem;
}

.header__phone a {
    padding: 35rem 9rem;
    text-decoration: none;
}

.phone1 {
    font-size: 16rem;
    line-height: 3.1em;
    color: #fff;
}

.phone {
    font-size: 16rem;
    color: #fff;
}
.text2 {
    color: #fff;
    font-style: italic;
    padding: 10rem 1rem;
}

h1 {
    width: 687rem;
    font-size: 48rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
    padding: 7rem 1rem;
}

.text1 {
    color: #fff;
    padding: 16rem 1rem;
    margin-bottom: 25rem;
}

.text3 {
    text-transform: uppercase;
    color: #f4d633;
    font-weight: bold;
    font-family: "Arial";
}

.footer {
    width: 100%;
    background-color: #f4d633;
    padding: 14rem 0rem 14rem;
}

.text5 {
    color: #1e3c6f;
    font-weight: bold;
    font-size: 16rem;
}

.button a {
    display: block;
    border-radius: 35rem;
    text-align: center;
    text-transform: uppercase;
    border: 3rem solid #f4d633;
    font-size: 18rem;
    text-decoration: none;
    color: #f4d633;
    max-width: 340rem;
    padding: 25rem 2rem;
}

.zirka {
    padding: 61rem 0rem
}

.text4 {
    font-size: 20rem;
    color: #fff;
    font-weight: bold;
    padding: 61rem 8rem;
}

.geo {
    padding: 27rem 9rem;
}

.inst {
    padding: 27rem 9rem
}

.tg {
    padding: 27rem 10rem;
}

.since {
    font-size: 12rem;
    color: #204075;
    text-align: left;
}

a {
    cursor: url(../img/cursor2.cur), default;
    transition: all .9s ease;
}

li>a:hover {
    color: yellow;
}

.button>a:hover {
    color: black;
}

main {
    position: relative;

}

.mainball  {
    overflow: hidden;
}

.main_text {
    padding: 120rem 35rem;
    font-size: 16rem;
    flex-wrap: wrap;
}

.ul {
    list-style: none;
}

#navigation1 {
    position: fixed;
    top: 0;
    width: 60vw;
    right: -100%; 
    height: 100vh;
    padding: 22px 0 0 0;
    z-index: 2;
}

#black_bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    z-index: 2;
  }
#cancel {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  #burger,
  #burger:before,
  #burger:after{
    width: 50px;
    height: 5px;
    background-color: #fff;
  }
  
  #burger_container {
    position: relative;
    right: 50px;
    
  }
  #burger {
    position: absolute;
    width: 50px;
    height: 5px;
    background-color: #fff;
    transform: translateY(150%);
    right: 20px;
  }
  #burger:before,
  #burger:after {
    content: "";
    position: absolute;
    left: 0;
  }
  
  #burger:before {
    top: -10px;
  }
  
  #burger:after {
    bottom: -10px
  }
  
  @media screen and (min-width: 500px) {
    #navigation1{
      position: static;
      width: 100%;
    }
    
    #burger {
      display: none;
    }
    .header__text {
        display: block;
    }
    #cancel {
        display: none;
    }
  }

@media screen and (min-width: 768rem) {
    html {
        font-size: .9rem;
    }

}

@media screen and (min-width: 1024rem) {
    html {
        font-size: 1rem;
    }

    .mainball {
        position: absolute;
        bottom: 0;
        right: -259rem;
    }

    .mainball img {
        position: absolute;
        bottom: 0rem;
        right: 0rem;
    }
    .header__text {
        background-color: rgba(172, 172, 170, 0.3);
    }
}

@media screen and (min-width: 1440rem) {
    html {
        font-size: 1.1rem;
    }

}

@media screen and (min-width: 1920rem) {
    html {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 2200rem) {
    html {
        font-size: 1.7rem;
    }
}